* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.hero_sec {
  background: url("../images/hero.jpg") no-repeat;
  background-size: cover;
  background-position: center;

  height: 780px;
}

.hero_title {
  max-width: 1000px;
  margin: 0 auto;
}
.title_text {
  font-weight: 600;
  font-size: 72px;
  color: #fff;
  text-transform: uppercase;
}

.name {
  font-size: 36px;
  color: #fff;
}

.heading_sec {
  background: #000;
  height: 150px;
  color: #fff;
  padding-top: 20px;
}
.heading_sec > p {
  font-size: 36px;
  text-align: center;
}
.heading_title {
  font-size: 72px;
}

.card-container {
  margin: 70px 40px;
  background: #fff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

  gap: 10px;
}
.grid_item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  max-width: 320px;
  box-shadow: 3px 3px 5px rgba(1, 1, 1, 0.2);
  border-radius: 10px 10px 0 0;
}
.card:hover {
  border-radius: 10px 10px 0 0;
  transform: scale(1.05);
  box-shadow: 3px 3px 5px rgba(1, 1, 1, 0.3);
}
.card > img {
  width: 320px;
  height: 192px;
  border-radius: 10px 10px 0 0;
}
.para {
  padding: 20px;
}
.para > h3 {
  padding-top: 20px;
  font-size: 24px;
  margin-bottom: 10px;
}
.para > p {
  font-size: 12px;
  font-weight: 300;
}

.bottom_sec {
  display: flex;
  justify-content: center;
  color: #fff;
}

.contact {
  background-color: #515603;
  padding: 30px 40px;
}
.contact > h1 {
  margin-bottom: 15px;
}
.about {
  background-color: #722300;
  padding: 30px 40px;
}
.about > h1 {
  margin-bottom: 15px;
}

.bottom_bar {
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
